<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821327873282-61mqkvaqcdobcbdpueaq9fptp2puf49h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821327873282-61mqkvaqcdobcbdpueaq9fptp2puf49h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>821327873282-ho8v6dtbcos56jrqk5i8s9mcs5k6s9s8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMq64PlsecrnKXMWQKMpyI9JJ_6i8Cpvg</string>
	<key>GCM_SENDER_ID</key>
	<string>821327873282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-653c1</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-653c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821327873282:ios:590ab32cedd87d02306e1b</string>
</dict>
</plist>